<div class="modal-body">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: "user_login_form"}) do |f| %>

    <table>
      <tr>
        <td class="text-right">Email:</td>
        <td><%= f.email_field :email, autofocus: true %></td>
      </tr>
      <tr>
        <td class="text-right">Password:</td>
        <td><%= f.password_field :password %></td>
      </tr>
    </table>

    <% if devise_mapping.rememberable? %>
      <div>Remember Me <%= f.check_box :remember_me, style: "margin-bottom: 5px;" %></div>
    <% end %>
    <%= render "users/shared/links" %>
  <% end %>
</div>

<div class="modal-footer">
  <%= button_tag "Cancel", data: {dismiss: :modal} %>
  <%= button_tag "Sign in", onclick: "$('#user_login_form').submit()" %>
</div>